body {
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    background-position: end;
    background-size: cover;
    background-image: linear-gradient(rgba(238, 162, 252,0.9), rgba(253, 180, 44, 0.9)),url('icons/weather.jpg');
    background-repeat: no-repeat;
}

.container {
    max-width: 400px;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}